mixin search(buttonTest, total, search, pages)
    form#search-form
        .controls
            if buttonTest
                span.btn.btn-primary.show-form Add 
                    i.fas.fa-plus-circle
            .search-container
                .input-group
                    .input-group-prepend
                        button.btn-search.input-group-text(type="submit")
                            i.fa.fa-search
                    input.search-input.form-control(type="text" name="search" value=search placeholder="Search")
                    span.clear-search
                        i.fas.fa-times-circle
            if pages
                include ./pagination
                +pagination(pages)
            #badge-container
                span#total-items.badge.badge-primary= total
            