#items-container.card.text-dark.row
    .col-6
        .list-titles
            .title
                span= list1.count+" - "+title1
        //- include ./items-list
        //- +items_list(items, itemspages, id)
    .col-6
        .list-titles
            .title
                span= list2.count+" - "+title2
        //- include ./video-list
        //- +videoList(videos, videopages)
                