li.plist.list-group-item.active(id=list.Id tabindex="0")
    span#save-list
        i.fas.fa-save
    span.show-form                   
        i.ml-1.fas.fa-edit
    span.remove
        i.mx-1.fas.fa-trash-alt
    span#item-name= list.Name