include ./controls
+search(true, 0)
#list-dirs.list-container.bg-gradiants
    table.table.table-hover.table-dark
        thead
            tr
                th State
                th Title
                th Days
                th Hour
                th Tone
        tbody
            tr
                td Active
                td First Ring
                td Mon Tue Web Thu Fri
                td Ring Ring
