body,
html {
	background: rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

body,
#item-file,
#item-cover,
#item-file img {
    user-select: none;
}

#win-controls{
    float: right;
}

.bg-gradiants{
    color: white;
    background-color: #14243d;
    background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
}

#container{
    min-height: calc(100% - 47px);
    min-width: 100%;
    border-radius: 0 0 .25rem .25rem;
}

.nav-item{
    position: relative;
    z-index: 1;
}

.nav-item:first-child{
    margin-left: 10px
}

#file-name{
    display: none;
}

.menubar{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   position: fixed;
   align-items: center;
   height: 40px;
   top: 0;
   left: 0;
   right: 0;
   background: rgba(67, 66, 75, 1);
   z-index: 9999;
   border-radius: 1em 1em 0 0;
}
#drag-region{
    height: 47px;
    flex-grow: 1;
    -webkit-app-region: drag;
}
#btn-home,
#btn-sys-min, 
#btn-sys-max,
#btn-sys-close{
    display: inline-block;
    width: 45px;
    padding: 9.5px 10px;
    font-size: 1.5rem;
    flex-shrink: 0;
    height: 47px;
    font-size: 30px;
}
.fa-trash:hover, .fa-star:hover {
    text-shadow: 0 0 5px #fff;
}
#btn-home:hover{
    border-radius: 0.6em 0 0 0;
}

#btn-home:hover,
#btn-sys-min:hover, 
#btn-sys-max:hover,
#btn-sys-close:hover{
   cursor: pointer;
   background-color:rgba(53, 237, 243, 0.2);
}
#btn-sys-close{
    border-radius: 0 0.25rem 0 0;
}
#btn-sys-close:hover{
    background-color: red;
}
.content{
    align-items: center;
    position: relative;
    min-height: 100%;
    height: 100%;
    padding: 0px;
}

#music-list{
    min-width: 100%;
    min-height: 100%;
}

 /*************************Scrollbar Style********************************/

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 123, 255, .95);
    box-shadow: inset 0 0 6px rgba(15, 1, 228, 0.9);
    border-radius: 0.25rem;
}
/************************* End ********************************/


#context-menu{
    display: none;
    background-color: rgba(52,58,64,0.8);
    width: 145px;
    color: white;
    position: fixed;
    top: 100px;
    z-index: 9999;
    border-radius: 5px;
}

#context-menu li{
    list-style-type: none;
    padding: 5px 11px;
    cursor: pointer;
}

#context-menu li:not(:last-child){
    border-bottom: 1px solid white;
}

#context-menu li:hover{
    background-color: rgba(102,108,114,0.90);
}

#context-menu li:first-child:hover{
    border-radius: 5px 5px 0 0;
}
#context-menu li:last-child:hover{
    border-radius: 0 0 5px 5px;
}

.loadding .fa-spinner {
    font-size: 12.0em;
}

label i.fas,
span i.fa,
span i.fas,
span i.far{
    cursor: pointer;
}

label i.fas:active,
span i.fa:active
span i.fas:active,
span i.far:active{
    transform: scale(1.1);
}

.range {
    display: inline-block;
    position: relative;
    top: -10px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    transition: opacity .2s;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: #007bff;
    cursor: pointer;
    border: 1px solid #000000; 
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
/******************************************************************/

.btn-search{
    cursor: pointer;
}

.btn-search:active{
    font-size: .9rem;
    outline: none;
}

#pager{
    display: inline-block;
    align-self: center;
    font-size: 1rem;
}

#pager .pagination{ 
    margin: 0;
}

#pager #select-page{
   border-radius: 0.25rem 0 0 0.25rem;
}

#pager i{
    font-size: 20px;
}

#pager .page-item:last-child .page-link{
    border-radius: 0 0.25rem 0.25rem 0;
}

.search-container{
    display: flex;
    align-items: center;
    width: 200px;
}

.search-container span .fa-times-circle{
    display: none;
    position: absolute;
    top: 9px;
    right: 5px;
    font-size: 20px;
    color: firebrick;
    z-index: 99;
}

.search-input:not(:placeholder-shown) + span .fa-times-circle{
    display: initial;
}

/************Modal css*********************/
#modal-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .55);
    z-index: 9999;
}

#modal{
    display: none;
    height: fit-content;
    min-width: 400px;
    max-width: 450px;
    padding: 20px 15px;
    border: 1px solid;
}

#modal-header{
    padding: 10px 0;
}