#container{
    flex-direction: column;
    padding: 5px 5px;
    user-select: none;
    height: calc(100% - 42px);
    overflow-y: hidden;
}

#container > h2{
    margin: 0;
}


#nav-menu{
    border-bottom: 0;
    background-color: wheat;
    border-radius: 0.25rem .25rem 0 0;
}
#nav-menu input[type="radio"]{
    display: none;
}

#nav-menu input[type="radio"]:checked + label{
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

#nav-menu .nav-item label{
    display: inline-block;
    margin: 0;
    margin-top: 5px;
    height: 43px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
#nav-menu .nav-item i{
    font-size: 28px;
}
#nav-menu .nav-item label .fa-folder{
    position: relative;
    font-size: 32px;
}

#nav-menu .nav-item label .fa-folder .fa-music{
    position: absolute;
    top: 11px;
    left: 7px;
    color: white;
    font-size: 15px;
}
#nav-menu .nav-item input[type=radio]:checked + label .fa-folder .fa-music{
    color: black;
}


