#a-player{
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: wheat;
    border-radius: 0 0 .25rem .25rem;
    z-index: 99;
}

#a-player > span{
    font-size: 2rem;
    margin: 5px;
}

#a-player #v-total-time{
    font-size: 1.3rem;
    font-weight: bold;
}

#slider-container{
    flex-grow: 1;
    padding: 0 20px;
}

#a-player input[type=checkbox]{
    display: none;
}
#v-vol{
    position: relative;
}

label[for=v-mute]{
    width: 45px;
    margin-left: 10px;
}

.vol-icon{
    cursor: pointer;
}

.vol-icon svg path:not(:first-child){
    display: none;
}

.vol-slider[value="0"] + .vol-icon #vol-mute,
#v-mute:checked + svg #vol-mute{
    display: initial;
}

.vol-slider[value^="0.0"] + .vol-icon #vol-low,
.vol-slider[value^="0.1"] + .vol-icon #vol-low,
.vol-slider[value^="0.2"] + .vol-icon #vol-low,
.vol-slider[value^="0.3"] + .vol-icon #vol-low{
    display: initial;
}

.vol-slider[value^="0.4"] + .vol-icon #vol-med,
.vol-slider[value^="0.5"] + .vol-icon #vol-med,
.vol-slider[value^="0.6"] + .vol-icon #vol-med,
.vol-slider[value^="0.7"] + .vol-icon #vol-med{
    display: initial;
}

.vol-slider[value^="0.8"] + .vol-icon #vol-high,
.vol-slider[value^="0.9"] + .vol-icon #vol-high,
.vol-slider[value="1"] + .vol-icon #vol-high{
    display: initial;
}

#v-mute:checked + svg #vol-low,
#v-mute:checked + svg #vol-med,
#v-mute:checked + svg #vol-high{
    display: none;
}


#v-play:checked+i:before {
    content: "\f28b";
}

.v-controls .v-vol *{
    cursor: pointer;
}

#always-on-top + .far{
    color: grey;
}

#always-on-top:checked + .far{
    color: black;
}

#rewind-all + svg,
#random-audio + svg{
    fill: grey;
}
#rewind-all:checked + svg,
#random-audio:checked + svg{
    fill: black;
}
